
@{
    ViewBag.Title = "Yabanci";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<html>
<head>
    <title>kitapyolu.com</title>
    <script type="text/javascript" src="~/Scripts/JQery.js"></script>
    <meta charset="utf-8">

    <style>


        .yazi {
            color: green;
            height: 390px;
        }


        .ilber {
            border-color: #08c221;
            border-width: 5px;
            border-style: double;
            border-right: firebrick;
            background-color: rgb(226, 196, 169);
        }

        .funfun {
            border-color: #08c221;
            border-width: 5px;
            border-style: double;
            border-left: firebrick;
        }

        div {
            display: none;
            border-style: solid;
            border-color: #DBCDC0;
            border-width: 10px 10px 10px 0px;
            margin-bottom: 5px;
        }

        .totop a {
            display: none;
        }

        a, a:visited {
            color: #33739E;
            text-decoration: none;
            display: block;
            margin: 10px 0;
        }

            a:hover {
                text-decoration: none;
            }

        #loadMore {
            padding: 10px;
            text-align: center;
            background-color: yellowgreen;
            color: #fff;
            border-width: 0 1px 10px 1000px;
            border-style: solid;
            border-color: #DBCDC0;
            box-shadow: 0 1px 1px #ccc;
            transition: all 600ms ease-in-out;
            -webkit-transition: all 600ms ease-in-out;
            -moz-transition: all 600ms ease-in-out;
            -o-transition: all 600ms ease-in-out;
        }

            #loadMore:hover {
                background-color: rgb(202, 101, 101);
                color: #fff;
            
             }
           #personel {
border-collapse: collapse;
width: 100%;
}
 
#personel td, #personel th {
border: 1px solid #ddd;
padding: 8px;
}
 
#personel tr:nth-child(even){background-color: #f2f2f2;}
 
#personel tr:hover {
background-color: #2ecc71;
color:#fff;
}

            #personel th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #2c3e50;
                color: white;
            }

        #btn2 {
            font-size: 15px;
            color: #fff;
            background: #3b991e;
            background: -moz-linear-gradient(top, #208308 0%, #6fa805 50%, #08c221 51%, #43d15a 100%);
            background: -webkit-linear-gradient(top, #208308 0%, #6fa805 50%, #08c221 51%, #43d15a 100%);
            background: linear-gradient(to bottom, #208308 0%, #6fa805 50%, #08c221 51%, #43d15a 100%);
            border: 3px solid rgb(255, 255, 255);
            text-decoration: none;
            padding: 10px -5px;
            font-family: "Arial",serif;
            border-radius: 0px;
            transition: all .1s linear;
            position: relative;
            z-index: 1;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 2px 2px 2px 2px #333;
            font-weight: bold;
            transition: all .6s ease;
        }
    </style>
    <script>

    $(function () {
        $("div").slice(0, 4).show();
        $("#loadMore").on('click', function (e) {
            e.preventDefault();
            $("div:hidden").slice(0, 4).slideDown();
            if ($("div:hidden").length == 0) {
                $("#load").fadeOut('slow');
            }
            $('html,body').animate({
                scrollTop: $(this).offset().top
            }, 1500);
        });
    });





    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
            color: orange;
        }
    </style>

</head>
<body bgcolor="#DBCDC0">


    <!--<font color="green"> </font>     <TABLO GELECEK>    -->
    <table>
        <tr>
            <td>
                <div class="resim">
                    <a href="/Home/GirisYap/"> <img src="/Content/font/okuyan Maymun.PNG" width="170px" height="170px">
                </div>
            <td>
                <div class="resimm">
                    <br><br>
                    <b href="file:///C:/Users/dell/Desktop/Okul%20Web%201.%20HAFTA/okul%20web/odev/funda.html" class="yazi"><h1> KitapYolu.com</h1></b>
                </div>
                </a>
            </td>
            </td>
        </tr>


    </table>
    <br><br>


    <table align="center">
        <div class="ilberbilgi">
            <tr align="center">
                <td class="ilber">
                    <img src="/Content/font/yabancı.PNG">


                <td>
                <td class="funfun">


                    <h2>Yabancı</h2>
                    <h3>Albert Camus</h3><br><br>
                    Albert Camus'nün ( 1913-1960) en tanınmış, en çok yabancı dile çevrilmiş, en çok incelenmiş ve hala en çok satan kitaplar arasında yer alan Yabancı, <br> aynı zamanda yazarın en gizemli yapıtı.Ölümün egemen olduğu bir varlıkın en anlamsız olgularını saçma bir düzensizlik içinde yaşayan bu romanın<br>başkişisi Meursault,
                    bir simge kahraman değildir, adı olmayan bir Yabancıdır; bu eksik kimlik, gerçeklikten algıladığı şeyi yapılandıramayan, yeniden <br> örgütleyemeyen, ama gerçekliğin yankılarını yakalamaya çalışan bir boş bilincin imgesidir.<br>
                    Onun kayıtsızlığı ve edilgenliği, işte bu boş bilincin ürünüdür. Yabancı, büyüleyici gücünü, içinde barındırdığı trajedi duygusuna borçlu:</p>

                    <div>
                        <p>
                            Bir türlü ele geçirilemeyen anlamın sürekli aranması, bilinç ile toplumsal dünya arasındaki çatışma... <br> Camus'yle buluşanların hiçbiri, onunla karşılaşınca hayal kırıklığına uğramamıştır. Mutluluk, bir yerde ve her yerde hiçbir şey beklemeden dünyayı, <br>
                            insanları sevmektir, der Camus. Giderek daha çok sevilen bir yazar olması, onun bu sevgisinin yansımasından başka bir şey değildir.
                        </p>
                    </div>
                    <div>

                        Dil	Türkçe <br>
                        Kağıt Cinsi	2. Hamur <br>
                        Cilt Tipi	Ciltsiz <br>
                        Basım Yeri	TÜRKİYE <br>
                        Sayfa Sayısı	208 <br>
                        Yayın Tarihi	Haziran-2020 <br>
                        Baskı Sayısı	20. Baskı <br>
                        Ölçü	13,5x21 <br>
                        </p>

                    </div>


                    <a href="#" id="loadMore">Load More</a>

                    <p class="totop">
                        <a href="#top">Back to top</a>
                    </p>



                </td>



                </td>


                </td>


            </tr>

        </div>
    </table>
    <h2>Yorumlar</h2>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300" rel="stylesheet">
    <table class="table table-bordered" id="personel">

        <tr>
            <th>Gönderen</th>

            <th>Mesaj</th>
            <th>Tarih</th>
        </tr>
        <tr>
        </tr>

        @foreach (var x in Model)
        {
            if (x.KITAP == "Yabancı")
            {
                <tr>
                    <td>@x.GONDEREN </td>

                    <td>@x.ICERIK </td>
                    <td>@x.TARIH </td>
                </tr>
                <tr>
                </tr>
            }
        }



    </table>
    <br> <br>
    <a href="/Yorum/Contact/"><input type="button" value="Yorum Yap" id="btn2" /></a>





</body>

</html>
